PORT = 
EMAIL_ADDRESS = 
EMAIL_PASSWORD = 
DB_URIs = "mongodb+srv://usc_user:zZKpLv5Y1dX3c7x4@cluster0.mbux4.mongodb.net/digi-cabinet-dev?retryWrites=true&w=majority"
REFRESH_KEYS = {"public": "-----BEGIN RSA PUBLIC KEY-----\nMEgCQQCEymClMB630nPxmJ7cmgDH8e8G7AUstnh1fi0EkpIWhJQdpYQGTwk0EtIfgajMbEtdyp32ouARwFhgSS8yRksfAgMBAAE=\n-----END RSA PUBLIC KEY-----", "private": "-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBAITKYKUwHrfSc/GYntyaAMfx7wbsBSy2eHV+LQSSkhaElB2lhAZPCTQS0h+BqMxsS13Knfai4BHAWGBJLzJGSx8CAwEAAQJAPpOwX6gBkdbXVK77jjH01ESqw7RN6/hBY/0F8fWwanN3qQ8gr4owZYN9sVnGzSnRRgSibal2uYYXxOoA2XIV4QIhANo896yxnk1/te2jB3CnBkaaSik0KApbob5hpG1Epi/NAiEAm8Rwnr5351+3N4kuQcUseODlR+FQ7Ai0hhNzeP0mwpsCIQCF4s1XpwglJ2pnRZM062MQQWup55OA90I9WA3V8z25KQIgJMmyJ2uoedabONyHNjVRGYNT4zQNnpE3wWqanPp8yv0CIF6dt7MDBW0BRGGQF9mT5bk+lT5+sUwTu1JM/psYaaI+\n-----END RSA PRIVATE KEY-----"}
ACCESS_KEYS = {"public": "-----BEGIN RSA PUBLIC KEY-----\nMEgCQQCEymClMB630nPxmJ7cmgDH8e8G7AUstnh1fi0EkpIWhJQdpYQGTwk0EtIfgajMbEtdyp32ouARwFhgSS8yRksfAgMBAAE=\n-----END RSA PUBLIC KEY-----", "private": "-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBAITKYKUwHrfSc/GYntyaAMfx7wbsBSy2eHV+LQSSkhaElB2lhAZPCTQS0h+BqMxsS13Knfai4BHAWGBJLzJGSx8CAwEAAQJAPpOwX6gBkdbXVK77jjH01ESqw7RN6/hBY/0F8fWwanN3qQ8gr4owZYN9sVnGzSnRRgSibal2uYYXxOoA2XIV4QIhANo896yxnk1/te2jB3CnBkaaSik0KApbob5hpG1Epi/NAiEAm8Rwnr5351+3N4kuQcUseODlR+FQ7Ai0hhNzeP0mwpsCIQCF4s1XpwglJ2pnRZM062MQQWup55OA90I9WA3V8z25KQIgJMmyJ2uoedabONyHNjVRGYNT4zQNnpE3wWqanPp8yv0CIF6dt7MDBW0BRGGQF9mT5bk+lT5+sUwTu1JM/psYaaI+\n-----END RSA PRIVATE KEY-----"}
GENERAL_KEYS = {"public": "-----BEGIN RSA PUBLIC KEY-----\nMEgCQQCEymClMB630nPxmJ7cmgDH8e8G7AUstnh1fi0EkpIWhJQdpYQGTwk0EtIfgajMbEtdyp32ouARwFhgSS8yRksfAgMBAAE=\n-----END RSA PUBLIC KEY-----", "private": "-----BEGIN RSA PRIVATE KEY-----\nMIIBOgIBAAJBAITKYKUwHrfSc/GYntyaAMfx7wbsBSy2eHV+LQSSkhaElB2lhAZPCTQS0h+BqMxsS13Knfai4BHAWGBJLzJGSx8CAwEAAQJAPpOwX6gBkdbXVK77jjH01ESqw7RN6/hBY/0F8fWwanN3qQ8gr4owZYN9sVnGzSnRRgSibal2uYYXxOoA2XIV4QIhANo896yxnk1/te2jB3CnBkaaSik0KApbob5hpG1Epi/NAiEAm8Rwnr5351+3N4kuQcUseODlR+FQ7Ai0hhNzeP0mwpsCIQCF4s1XpwglJ2pnRZM062MQQWup55OA90I9WA3V8z25KQIgJMmyJ2uoedabONyHNjVRGYNT4zQNnpE3wWqanPp8yv0CIF6dt7MDBW0BRGGQF9mT5bk+lT5+sUwTu1JM/psYaaI+\n-----END RSA PRIVATE KEY-----"}